{
	"arrowParens": "always",
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": true,
	"trailingComma": "all",
	"overrides": [
		{
			"files": "*.mdx",
			"options": {
				"useTabs": false
			}
		}
	]
}
