.swiper-slide {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	border-radius: 4px;
}

.swiper-button-next {
	/* right: -80px; */
	bottom: 2em;
	right: 2em;
	top: auto;

	color: #ff725c;
	background-color: #2b292a;
	/* transform-origin: right; */
	/* transform: scale(75%); */

	padding: 0.5em;
	height: 2em;
	width: 2em;

	border: 1px solid #ff725c;
	/* box-sizing: border-box; */
	--swiper-navigation-size: 16px;

	transition: 0.3s;
}

.swiper-button-prev {
	/* left: -80px; */
	background-color: #2b292a;
	color: #ff725c;
	left: auto;
	bottom: 2em;
	right: 5em;
	top: auto;

	padding: 0.5em;
	height: 2em;
	width: 2em;
	border: 1px solid #ff725c;
	/* box-sizing: border-box; */

	/* transform-origin: left; */
	/* transform: scale(75%); */
	--swiper-navigation-size: 16px;
	transition: 0.3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
	/* left: -80px; */
	color: #fff;
	background-color: #ff725c;
	transition: 0.3s;
}

.swiper-button-prev:focus,
.swiper-button-next:focus {
	/* left: -80px; */
	outline: none;
}

/* .swiper-button-next:after {
	stroke-width: 2px;
} */

@media only screen and (max-width: 767px) {
	.swiper-button-next {
		/* right: -80px; */
		left: 5em;
		bottom: 2em;
		margin-top: 2em;
	}

	.swiper-button-prev {
		/* right: -80px; */
		left: 2em;
		bottom: 2em;
	}

	/* .css-80ft11 {
		margin-bottom: 64px;
		padding: 16px !important;
		width: 80% !important;
	} */
}
