.fadein {
    opacity: 0;
    transition: opacity 300ms ease-out;
}

.fadeout {
    opacity: 1;
    transition: opacity 300ms ease-out;
    /* animation: fadeOut 0.3s linear; */
}

/* @keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
  }
  
  @keyframes fadeOut {
      0% { opacity: 1 }
      100% { opacity: 0 }
    } */