

@font-face {
    font-family: 'signifier';
    font-weight: 300;
    src: url(../fonts/signifier.otf) format('opentype');
  }
  
  @font-face {
      font-family: 'signifier';
      font-weight: 500;
      src: url(../fonts/signifier-medium.otf) format('opentype');
  }
  
  @font-face {
      font-family: 'signifier';
      font-weight: 300;
      font-style: italic;
      src: url(../fonts/signifier-italic.otf) format('opentype');
  }