#notification_container {
	/* position: absolute; */
	/* margin-top: 0.5em; */
	/* width: inherit; */
	font-family: "DM Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	display: block;
	color: rgba(0, 0, 0, 0.5);
	height: 14px;
	overflow: visible;

	
}
/* #notification_container a {
	font-family: "DM Sans", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1em;
	border-bottom: none;
}
#notification_container a:hover {
	border-bottom: dotted;
	border-bottom-width: 1px;
	border-bottom-color: rgba(250,250,250,0.50);
} */


.alert{
	position: absolute;
}



body {
	background-color: #f54936;
}

a {
	color: #141414;
	display: block;
	width: fit-content;
	text-decoration: none;
	transition: 0.2s;
}

a:hover {
	color: #fff;
}

a:hover:after {
	transform: scaleX(1);
	transform-origin: 0% 100%;
}

a::after {
	border: 1px solid #fff;
	display: block;
	content: "";
	margin-top: 2px;
	transform: scaleX(0);
	transition: transform 240ms ease-out;
	transform-origin: 0% 0%;
}

::selection {
	background: rgba(255, 255, 255, 0.99); /* WebKit/Blink Browsers */
}

::-moz-selection {
	background: rgba(255, 255, 255, 0.99); /* Gecko Browsers */
}

/* ------------------------Animations-------------------- */

.h1,
.h1::after {
	animation-delay: var(--animation-delay, 2s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 800ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.h1 {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 800ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	font-size: 10vw;
	animation-name: clip-text;
	/* white-space: nowrap; */
	cursor: default;
}

.h1::after {
	content: "";
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	transform: scaleX(0);
	transform-origin: 0 50%;
	pointer-events: none;
	animation-name: text-revealer;
}

@keyframes clip-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}

@keyframes text-revealer {
	0%,
	50% {
		transform-origin: 0 50%;
	}

	60%,
	100% {
		transform-origin: 100% 50%;
	}

	60% {
		transform: scaleX(1);
	}

	100% {
		transform: scaleX(0);
	}
}

@keyframes fadein {
	from {
		opacity: 0;
		transform: translateY(16px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
	from {
		opacity: 0;
		transform: translateY(16px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from {
		opacity: 0;
		transform: translateY(16px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

/* Internet Explorer */
@-ms-keyframes fadein {
	from {
		opacity: 0;
		transform: translateY(16px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
	from {
		opacity: 0;
		transform: translateY(16px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

.showCopiedText {
	animation: copyfadein 0.4s ease;
}

.opacity1 {
	opacity: 1 !important;
}

.hideCopiedText {
	animation: copyfadeout 0.4s ease;
}

@keyframes copyfadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes copyfadeout {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* ------------------------Line heights--------------------- */
.lh1 {
	line-height: 1;
}

.lhsmall {
	line-height: 1.15;
}

.lhmedium {
	line-height: 1.33;
}

.lhlarge {
	line-height: 1.5;
}

/* ------------------------Margins--------------------- */

.mt4 {
	margin-top: 4px;
}

.mt8 {
	margin-top: 8px;
}

.mt12 {
	margin-top: 12px;
}

.mt16 {
	margin-top: 16px;
}

.mt24 {
	margin-top: 24px;
}

.mt26 {
	margin-top: 24px;
}

.mt32 {
	margin-top: 32px;
}

.mt40 {
	margin-top: 40px;
}

.mt48 {
	margin-top: 48px;
}

.mt64 {
	margin-top: 64px;
}

.mt112 {
	margin-top: 112px;
}

.mr4 {
	margin-right: 4px;
}

.mr8 {
	margin-right: 8px;
}

.mr16 {
	margin-right: 16px;
}

.mr24 {
	margin-right: 24px;
}

/* ------------------------Colors--------------------- */

.black {
	color: #000;
}

.white {
	color: #fff;
}

/* ------------------------Typography--------------------- */

.h1 {
	font-family: "Staatliches", cursive;
	font-size: 64px;
	font-weight: 300;
	width: 60%;
	display: block;
	overflow: hidden;
}

.h2 {
	font-family: "DM Sans", sans-serif;
	font-size: 18px;
	font-weight: 600;
}

.body {
	font-family: "DM Sans", sans-serif;
	font-size: 28px;
	font-weight: 400;
}

#copied-to-clipboard-container {
	font-family: "DM Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	display: block;
	color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	height: 32px;
}

.body-small {
	font-family: "DM Sans", sans-serif;
	font-size: 18px;
	font-weight: 400;
}

/* ------------------------Content & Misc--------------------- */

#pre-load-arrow {
	position: absolute;
	top: -100px;
}

.content-wrapper {
	width: 80vw;
	max-width: 1440px;
	margin: 64px auto 96px auto;
}

.content-flexbox {
	display: flex;
	flex-flow: row wrap;
	justify-content: start;
	align-items: flex-start;

	animation: fadein ease 0.8s;
	-webkit-animation: fadein ease 0.8s;
	-moz-animation: fadein ease 0.8s;
	-o-animation: fadein ease 0.8s;
	-ms-animation: fadein ease 0.8s;
}

.content-left {
	width: 60%;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
}

#empty {
	width: 10%;
}

.content-right {
	width: 30%;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
}

.statbox {
	width: 100%;
}

#first-statbox{
	position: relative;
	height: 112px;
	overflow: visible;
}


.icon24 {
	width: 24px;
	height: 24px;
	position: relative;
	top: 4px;
}

.display-inline {
	display: inline-block;
}

.logo {
	display: block;
	position: relative;
	margin-left: -64px;
}

#email-line {
	vertical-align: baseline;
}

/* ------------------------Form--------------------- */

#mc-signup {
	position: relative;
	width: calc(100% + 32px);
	margin-left: -16px;
}

#mc-embedded-subscribe-form {
	position: relative;
	width: 100%;
	height: 48px;
	background: rgba(0, 0, 0, 0.08);
	border-radius: 16px;
	align-items: center;
}

#mce-EMAIL {
	position: absolute;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0);
	width: 100%;
	border: none;
	padding: 10px 52px 14px 16px;
	line-height: 24px;
}

#mc-embedded-subscribe {
	position: relative;
	float: right;
	border: none;
	border-radius: 12px;
	height: 40px;
	width: 40px;
	padding: 0;
	margin: 4px;
	align-self: baseline;
	background: #141414;
	color: #141414;

	background-image: url("assets/arrow.svg");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	background-size: 40px 40px;

	transition: 0.3s;
}

#mc-embedded-subscribe:hover {
	background: #fff;
	background-image: url("assets/arrow-black.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40px 40px;
	color: #fff;
}

textarea:focus,
input:focus {
	outline: none;
}

::-webkit-input-placeholder {
	/* Edge */
	color: #141414;
}

input:focus::-webkit-input-placeholder {
	color: #b83a2c;
	transition: 0.2s;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #141414;
}

input::-moz-placeholder {
	color: #141414;
}

input:focus::-moz-placeholder {
	color: #b83a2c;
	transition: 0.2s;
}

::placeholder {
	color: #141414;
}

input:focus::placeholder {
	color: #b83a2c;
}

/* ------------------------Form Loading Animation--------------------- */

#loadingAnimation {
	display: none;
	float: right;
	right: 8px; 
	top: 8px;
	position: relative;
}
#floatingCirclesG {
	position: relative;
	width: 30px;
	height: 30px;
	-moz-transform: scale(0.6);
	-webkit-transform: scale(0.6);
	-ms-transform: scale(0.6);
	-o-transform: scale(0.6);
	transform: scale(0.6);
}

.f_circleG {
	position: absolute;
	background-color: #ffa658;
	height: 5px;
	width: 5px;
	-moz-border-radius: 3px;
	-moz-animation-name: f_fadeG;
	-moz-animation-duration: 1.04s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: linear;
	-webkit-border-radius: 3px;
	-webkit-animation-name: f_fadeG;
	-webkit-animation-duration: 1.04s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: linear;
	-ms-border-radius: 3px;
	-ms-animation-name: f_fadeG;
	-ms-animation-duration: 1.04s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-direction: linear;
	-o-border-radius: 3px;
	-o-animation-name: f_fadeG;
	-o-animation-duration: 1.04s;
	-o-animation-iteration-count: infinite;
	-o-animation-direction: linear;
	border-radius: 3px;
	animation-name: f_fadeG;
	animation-duration: 1.04s;
	animation-iteration-count: infinite;
	animation-direction: linear;
}

#frotateG_01 {
	left: 0;
	top: 12px;
	-moz-animation-delay: 0.39s;
	-webkit-animation-delay: 0.39s;
	-ms-animation-delay: 0.39s;
	-o-animation-delay: 0.39s;
	animation-delay: 0.39s;
}

#frotateG_02 {
	left: 4px;
	top: 4px;
	-moz-animation-delay: 0.52s;
	-webkit-animation-delay: 0.52s;
	-ms-animation-delay: 0.52s;
	-o-animation-delay: 0.52s;
	animation-delay: 0.52s;
}

#frotateG_03 {
	left: 12px;
	top: 0;
	-moz-animation-delay: 0.65s;
	-webkit-animation-delay: 0.65s;
	-ms-animation-delay: 0.65s;
	-o-animation-delay: 0.65s;
	animation-delay: 0.65s;
}

#frotateG_04 {
	right: 4px;
	top: 4px;
	-moz-animation-delay: 0.78s;
	-webkit-animation-delay: 0.78s;
	-ms-animation-delay: 0.78s;
	-o-animation-delay: 0.78s;
	animation-delay: 0.78s;
}

#frotateG_05 {
	right: 0;
	top: 12px;
	-moz-animation-delay: 0.91s;
	-webkit-animation-delay: 0.91s;
	-ms-animation-delay: 0.91s;
	-o-animation-delay: 0.91s;
	animation-delay: 0.91s;
}

#frotateG_06 {
	right: 4px;
	bottom: 4px;
	-moz-animation-delay: 1.04s;
	-webkit-animation-delay: 1.04s;
	-ms-animation-delay: 1.04s;
	-o-animation-delay: 1.04s;
	animation-delay: 1.04s;
}

#frotateG_07 {
	left: 12px;
	bottom: 0;
	-moz-animation-delay: 1.17s;
	-webkit-animation-delay: 1.17s;
	-ms-animation-delay: 1.17s;
	-o-animation-delay: 1.17s;
	animation-delay: 1.17s;
}

#frotateG_08 {
	left: 4px;
	bottom: 4px;
	-moz-animation-delay: 1.3s;
	-webkit-animation-delay: 1.3s;
	-ms-animation-delay: 1.3s;
	-o-animation-delay: 1.3s;
	animation-delay: 1.3s;
}

@-moz-keyframes f_fadeG {
	0% {
		background-color: #cc5c00;
	}

	100% {
		background-color: #ffa658;
	}
}

@-webkit-keyframes f_fadeG {
	0% {
		background-color: #cc5c00;
	}

	100% {
		background-color: #ffa658;
	}
}

@-ms-keyframes f_fadeG {
	0% {
		background-color: #cc5c00;
	}

	100% {
		background-color: #ffa658;
	}
}

@-o-keyframes f_fadeG {
	0% {
		background-color: #cc5c00;
	}

	100% {
		background-color: #ffa658;
	}
}

@keyframes f_fadeG {
	0% {
		background-color: #cc5c00;
	}

	100% {
		background-color: #ffa658;
	}
}

/* -----------------------------------------------MOBILE---------------------------------------------- */

@media screen and (max-width: 920px) {
	/* a:hover:after {
		transform: scaleX(0.3);
		transform-origin: 0% 100%;
	} */

	/* ------------------------Typography--------------------- */

	.h1 {
		font-size: 48px;
		width: 100%;
	}

	.h2 {
		font-size: 16px;
	}

	.body {
		font-size: 18px;
	}

	.body-small {
		font-size: 16px;
	}

	/* ------------------------Content & Misc--------------------- */

	.content-wrapper {
		width: 90%;
		display: block;
		margin-top: 5vw;
	}

	.content-left {
		width: 100%;
		display: block;
	}

	#empty {
		display: block;
		margin-top: 48px;
	}

	.content-right {
		width: 100%;
		display: block;
	}

	.icon24 {
		width: 24px;
		height: 24px;
		position: relative;
		top: 4px;
	}

	.display-inline {
		display: inline-block;
	}

	.h24 {
		height: 24px;
		margin-top: auto;
		margin-bottom: auto;
	}

	.logo {
		margin-left: 0;
		/* left: 0; */
		height: 32px;
	}

	#get-in-touch-box {
		background-color: rgba(255, 255, 255, 0.04);
		border-radius: 4px;
		width: max-content;
		padding: 16px 24px;
	}

	#email-line {
		vertical-align: baseline;
	}
}
